{%extends 'core/base.html'%}
<!-- Cabecera -->
{%block image%}{% load static %}{% static 'core/img/home-bg.jpg' %}{%endblock%}
{%block headers%}
  <h1>Quienes Somos</h1>
{%endblock%}


{%block content%}
  <h1>Nuestros Clientes</h1>
<div class="row" style="background-color: grey">
    {%for cliente in clientes%}
      <div class="col-lg-3" >
          <div class="card" style="border:None;background-color:black" >
            <a href="{{cliente.web}}" class="card-body" >
              <img src="{{cliente.logo.url}}" class="img-fluid" style="filter: grayscale(100%)">
            </a>
          </div>
      </div>
    {%endfor%}
</div>
{%endblock%}